table {
    width: 100%;
  }

  .formCard{
    margin: 20px;
    // // width: 30%;
    // margin-left: auto;
    // margin-right: auto;
}

.main-container{
    margin: 10px;
}

.formContainer input, {
    margin-right: 5px;
}

.mat-form-field{
    width: 100%;
}

.btnActions{
margin-right: 10px;
}