.content-container{
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: larger;
}
.mat-card-header{
    margin-bottom: 30px;
}
.container{
    padding: 20px;
}
.customBtn{
    background-color:#2ecc71;
    color: white;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 5%;
}
.mat-form-field{
    width: 80%;
}