.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-sidenav{
    background: #FFFFFF;
    color: #FFFFFF;
    .mat-toolbar{
      background: #FFFFFF;
    }
  }
  .mat-menu-content {
    background-color: red !important;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .formContainer{
    margin: 20px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .form-adjust{
    margin-right: 10px;
  }
  .my-list-icons mat-icon{
    margin-right: 10px;
  }